* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}
/* Color: #e43c2b*/

body {
  font-family: "DM Sans", sans-serif;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  color: #343a40;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
  padding: 12px 32px;
  z-index: 1000;
}
@media (max-width: 1026px) {
  .nav--link:link,
  .nav--link:visited,
  .nav--link:hover,
  .nav--link:link:active {
    display: none;
  }
}
.list {
  display: none;
}
@media (max-width: 1026px) {
  .list {
    display: block;
  }
}
.logo {
  width: 100%;
  border-radius: 0;
}

.nav--link:link,
.nav--link:visited,
.nav--link:hover,
.nav--link:link:active {
  margin-right: 48px;
  font-size: clamp(18px, 4vw, 4px);
  text-decoration: none;
  color: #343a40;
  cursor: pointer;
}

.link-imp:link,
.link-imp:visited {
  background-color: #e43c2b;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 0 28px #e43c2b;
  cursor: pointer;
}

.link-imp:hover,
.link-imp:link:active {
  background-color: #9d2b1f;
  box-shadow: 0 0 28px #9d2b1f;
  color: #fff;
}

.nav--link:last-child {
  margin-right: 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 650px;
  column-gap: 68px;
  margin-top: 148px;
  margin-bottom: 168px;

  background-color: #f8f9fa;
  padding: 12px 12px;
  height: 648px;
}

@media (max-width: 1264px) {
  .hero {
    padding: 84px 48px;
    text-align: left;
    grid-template-columns: 1fr;
    margin-bottom: 198px;
  }
}

@media (max-width: 1264px) {
  .hero-img {
    margin-top: 48px;
  }
}

.hero-img {
  width: 100%;
}

.hero-title {
  font-size: clamp(32px, 6vw, 16px);
  line-height: 1.2;
  margin-bottom: 56px;
  color: #e43c2b;
  font-weight: 900;
}

.hero-text {
  font-size: clamp(16px, 6vw, 12px);
  line-height: 1.6;
  margin-bottom: 24px;
}

.hero-author {
  font-size: 14px;
  margin-bottom: 68px;
  font-weight: 500;
  color: #868e96;
}

.btn {
  background-color: #e43c2b;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 0 28px #e43c2b;
  cursor: pointer;
}

.bekezdes {
  padding-left: 24px;
}

img {
  width: 100%;
  border-radius: 8px;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-weight: 500;
}

.btn:hover,
.btn:active {
  background-color: #9d2b1f;
  box-shadow: 0 0 28px #9d2b1f;
  color: #fff;
}

hr {
  display: block;
  height: 6px;
  width: 128px;
  border: 0;
  border-top: solid 2px #e43c2b;
  margin-bottom: 24px;
}

.cim--2 {
  color: #e43c2b;
  font-size: 34px;
  margin-bottom: 64px;
}

.kozep {
  margin-left: 24px;
}

.icon {
  margin-bottom: 24px;
}

.cim,
.cim--3 {
  color: #e43c2b;
  font-size: 28px;
  margin-bottom: 6px;
}

.szoveg {
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  height: 550px;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 36px;
}

.card-img {
  width: 100%;
  margin-bottom: 24px;
  padding-left: 0;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 1264px) {
  .cards {
    grid-template-columns: 1fr;
    row-gap: 224px;
  }
}

@media (max-width: 1264px) {
  .card {
    margin-bottom: 24px;
  }
}
.padding {
  padding-left: 24px;
}

.btn--more {
  font-size: 14px;
  width: 60%;
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(24px, -24px);
}

.section--1 {
  margin-bottom: 148px;
}

@media (max-width: 1264px) {
  .section--1 {
    padding: 84px 48px;
  }
}

@media (max-width: 1264px) {
  .hero {
    padding: 84px 48px;
  }
}

.containers {
  margin-bottom: 148px;
  background-color: #f8f9fa;
}

.container--1,
.container--2,
.container--3,
.container--4 {
  display: flex;
  align-items: center;
  gap: 124px;

  margin-bottom: 98px;
}

@media (max-width: 1264px) {
  .container--1,
  .container--3 {
    flex-direction: column;

    padding: 24px;
  }
}

@media (max-width: 1264px) {
  .container--2,
  .container--4 {
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: flex-end;

    padding: 24px;
  }
}

.illustration {
  width: 50%;
  transform: scale(1.25);
  box-shadow: 0 1px 24px rgba(0, 0, 0, 0.25);
  margin-top: 48px;
}

.text--right {
  color: #e43c2b;
  font-size: 24px;
  margin-bottom: 24px;
}

.small-text--right {
  font-size: 18px;
}

.cim--2 {
  margin-bottom: 124px;
}
.cim--3 {
  margin-bottom: 248px;
}
.text--right,
.small-text--right {
  padding-left: 24px;
}

.container--5 {
  background-color: #e43c2b;
  border-radius: 8px;
  width: 1000px;
  margin: 100px auto;
  padding: 32px;
  position: relative;

  display: flex;
  align-items: center;
  gap: 124px;
}

@media (max-width: 1264px) {
  .container--5 {
    width: 400px;
  }
}

.btn--1 {
  background-color: #fff;
  border: none;
  position: absolute;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--left {
  width: 24px;
  height: 24px;
  left: 0;
  border-radius: 50%;

  transform: translate(500%, 50px);
}

.btn--right {
  width: 24px;
  height: 24px;
  right: 0;
  border-radius: 50%;

  transform: translate(-500%, 50px);
}

.about-us-img {
  width: 375px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 0;
  transform: translate(-125px, -125px);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 314px;
  margin-bottom: 32px;
  color: #fff5f5;
}
.testimonial-author {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #e43c2b;
}
.testimonial-job {
  font-size: 18px;
  color: #e43c2b;
}

.name-job {
  position: absolute;
  top: 0;
  transform: translate(314px, -96px);
}

.dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 62px);

  display: flex;
  gap: 14px;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  border: 2px solid #e43c2b;
  background-color: #fff;
  border-radius: 50%;
}

.dot--fill {
  background-color: #e43c2b;
}

@media (max-width: 1264px) {
  .testimonial-text {
    width: 300px;
    padding-left: 16px;
    padding-top: 268px;
  }
}

@media (max-width: 1264px) {
  .name-job {
    position: absolute;
    top: 0;
    transform: translate(10%, -200px);
  }
}
@media (max-width: 1264px) {
  .btn--left {
    left: 0;

    transform: translate(200%, 225%);
  }
}

@media (max-width: 1264px) {
  .btn--right {
    left: 0;

    transform: translate(1350%, 225%);
  }
}
/* Animation */

#progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e43c2b;
  transform-origin: 0 50%;
  animation: growProgress 2s linear;
  animation-timeline: scroll();
}

@keyframes growProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.card {
  animation: projectReveal linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 60%;
}

.card:nth-child(1) {
  animation-range: entry 30% cover 40%;
}

.card:nth-child(2) {
  animation-range: entry 32.5% cover 42.5%;
}

.card:nth-child(3) {
  animation-range: entry 35% cover 45%;
}

.card:nth-child(4) {
  animation-range: entry 37.5% cover 50%;
}
@keyframes projectReveal {
  from {
    opacity: 0;
    transform: perspective(1600px) rotateY(35deg) rotateX(25deg)
      translateY(150px) scale(0.55);
    filter: blur(10px);
  }

  60% {
    transform: perspective(1600px) rotateY(-5deg) scale(1.05);
  }

  to {
    opacity: 1;
    transform: perspective(1600px) rotateY(0) rotateX(0) translateY(0) scale(1);
    filter: blur(0);
  }
}

.container--1,
.container--2,
.container--3 {
  animation: projectReveal linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.container--4 {
  animation: projectReveal linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
